.header{
    width: 100%;
    height: 150px;
    background: aqua;
}
.father{
    width: 100%;
    height: 350px;
    display: flex;
}
.box-big{
    width: 75%;
    height: 100%;

}
.box-header {
    width: 100%;
    height: 50%;
    background: darkolivegreen;
}
.box-father{
    width: 100%;
    height: 50%;
    /*background: deeppink;*/
    display: flex;
    justify-content: space-between;
}
.box{
    width: 33%;
    height: 100%;
    background: blue;
}
.box-small{
    width: 25%;
    height: 100%;
    background: brown;
}
@media screen and (min-width: 0) and (max-width: 600px){
.header{
    height: 75px;
}
.father{
    flex-direction: column;
    height: 175px;
}
.box-big{
    width: 100%;
    height: 75%;
}
.box-header {
    width: 100%;
    height: 60%;
}
.box-father {
    width: 100%;
    height: 40%;
    justify-content:space-around;
    align-items: center;
}
.box {
    width: 20%;
    height: 80%;
}
.box-small {
    width: 100%;
    height: 25%;
}
}
